<div class="container search-form">
  <form>
  <div class="row">
    <div class="col-5">
      <div class="mb-3">
        <input type="firstName" class="form-control shadow-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-5">
        <div class="mb-3">
          <input type="firstName" class="form-control shadow-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-block">Log in</button>
    </div>
  </form>
</div>
